<nav class="navbar navbar-expand-md custom-navbar fixed-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active mx-2">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Men</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Women</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Fall 2025</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Sale</a>
        </li>
      </ul>
    </div>
  </div>
</nav>