<nav class="navbar navbar-expand-md custom-navbar fixed-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active mx-2">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Men</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Women</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Fall 2025</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Sale</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid mt-navbar">
  <div class="container-fluid p-0">
    <img
      src="assets/images/banner.png"
      alt="shopping banner"
      class="img-fluid w-100"
    />
  </div>
</div>

<div class="container">
  <app-product-list></app-product-list>
</div>

    <!-- Footer -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
            aria-label="Bootstrap">
            <svg class="bi" width="30" height="24" aria-hidden="true">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Instagram"
              ><svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#instagram"></use></svg></a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Facebook"><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook"></use></svg></a>
          </li>
        </ul>
      </footer>
    </div>
